body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f5576c, #f093fb); 
}

.form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease-in-out;
    width: 350px;
}

.form-container.hidden {
    opacity: 0; /* Скрываем форму, устанавливая прозрачность в 0 */
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #f093fb;
    color: white;
    padding: 14px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: transform 0.2s, box-shadow 0.2s;
}

button[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


#show-login,
#show-registration {
    background: none;
    border: none;
    color: #f5576c;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
}
